.header-container {
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px rgb(175, 175, 175);
    position: fixed;
}

.second-container {
    width: 97%;
    height:  95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-div {
    width: 210px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-div > span {
    background: #00a196;
    background: linear-gradient(148deg, rgba(0, 161, 150, 1) 0%, rgba(69, 252, 182, 1) 100%);
    width: 40px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: white;
}

.logo-div > h1 {
    font-family: var(--Font-Inter);
    font-size: 1.3rem;
    padding-left: 10px;
}

.userInfos-div {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.userInfos-div > .name-div {
    display: flex;   
    align-items: end;
    justify-content: center;
    width: 120px;
    height: 100%;
    flex-direction: column;
     font-family: var(--Font-Inter);
}

.userInfos-div > .name-div > h1 {
   font-size: 1rem;
}

.userInfos-div > .name-div > p {
    font-size: 0.8rem;
}

.userInfos-div > span {
    background-color: rgba(136, 193, 247, 0.5);
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    color: rgb(0, 132, 255);
}