.historico-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: var(--Font-Inter);
    flex-direction: column;
    overflow-y: auto;
    margin-top: 20px;
}

.top-div {
    width: 70%;
    height: 70px;
    margin-top: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.top-div > h1 {
    font-size: 1.4rem;
    color: rgb(20, 20, 20);
}

.top-div > p {
    font-size: 1.1rem;
    color: rgb(51, 51, 51);
}

#calendar {
    font-size: 1.2rem;
}

.history-card-container {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: red;
   
}