@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#card-list {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#input-card:focus {
    outline: none;
    border: solid rgb(140, 39, 255) 2px;
    transition: 100ms;
}

#button-add {
    position: relative;
}

#button-add::after {
    content: '';
    background-color: rgb(140, 39, 255);
    width: 10px;
    height: 100%;
    border-radius: 10px;
    position: absolute; 
    top: 0;
    left: 0;

}